




<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/img/foood.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a href="#" class="simple-text">
                FMS
            </a>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Restaurant")">
                        <i class="material-icons">person</i>
                        <p>Restaurant</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="material-icons">content_paste</i>
                        <p>Food</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Staff")">
                        <i class="material-icons">library_books</i>
                        <p>Staff</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="material-icons">bubble_chart</i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="material-icons">location_on</i>
                        <p>Income</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="material-icons text-gray">notifications</i>
                        <p>Expense</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="@Url.Action("Index", "Admin")">
                        <i class="material-icons">unarchive</i>
                        <p>Admin</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
